1) 콘텐츠영역은 1400px

2) 통이미지 사용 X

3) class Name 수정이 가능하도록 style.css 파일 주석처리 필요.

4) 반응형이기때문에 레이아웃 신경써서 잡아야함.

5) HTML 태그를 구조에 맞게 활용

6) HTML 코드 블록 단위로 주석처리 필요

7) 3장 작업이니 페이지명은 page_01.html ~ page_03.html

8) 이미지는 assets 폴더 생성후 images 폴더에 저장.

8) 이미지 경로는 상대경로
