body {
  font-family: "NanumSquareNeo", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕",
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: -0.8px;
  color: #414143;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Paperozi";
  /* line-height: 96px; */
}

.hanja {
  font-family: "SeoulHangang";
  font-weight: 400;
}

ul {
  list-style-type: "ㆍ";
  list-style-position: inside;
}

.logo img {
  clip-path: inset(50% 0 0 0);
}

.fw-bold {
  font-weight: 700;
}

.fw-extra-bold {
  font-weight: 800;
}

.fc-accent {
  color: #26b99a;
}

.bg-primary {
  background-color: #faf8f4;
}

.note-list {
  list-style-type: disc;
  list-style-position: inside;
  line-height: 40px;
}

.page-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 96px;
  color: #414143;
}

/* 1600px 이하일때 */
@media (max-width: 1600px) {
}

/* 1400px 이하일때 */
@media (max-width: 1400px) {
}

/* 1200px 이하일때 */
@media (max-width: 1200px) {
}

/* 1500px 이하일때 */
@media (max-width: 500px) {
}
